%ul#myTab4.nav.nav-tabs.tab-padding.tab-space-3.tab-blue
  %li{ class: 'active' }
    %a{"data-toggle" => "tab", href: "#panel_overview"}
      Overview
  %li
    %a{"data-toggle" => "tab", href: "#panel_edit_account"}
      Edit Account