#videoslide .tabs ul li.active,
#videoslide .tabs ul li:hover,
.topbar2,
.topbar3,
.timeline .event .month,
.btn-primary,
mark,
.carousel.thumbnail .carousel-control,
.single-title h3,
.onsale,
.image-container .more a,
.big-message h2 span,
.icn-container,
.tagcloud a,
.portfolio-filter li .btn.active:hover, .portfolio-filter li .btn.active,
a.list-group-item.active,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus,
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover,
.nav-tabs.nav-stacked > .active > a:focus,
.nav.open > a,
.nav.open > a:hover,
.nav.open > a:focus,
a.list-group-item.active,
.panel-primary .panel-heading,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pager li > a:hover,
.pager li > a:focus,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a,
.pagination > .active > span,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active,
.sb-icon-search,
.mightyslider_carouselSimple_skin ul.pages li.active,
.mightyslider_carouselSimple_skin .mSClose:hover,
.mightyslider_carouselSimple_skin ul.pages li.active,
.mightyslider_carouselSimple_skin .mSButtons:hover,
.mightyslider_carouselSimple_skin .mSButtons:active,
.tp-leftarrow.default, .tp-rightarrow.default,
.tp-caption.lightgrey_divider,
.tp-caption.small_thin_grey,
.message h2 span,
.colon6,
.dmtop,
.image-container .zoom,
.tp-caption.medium_bg_red,
.accordion-toggle em,
.progress-bar-primary,
.service-box i {
  background-color: #472BDE !important;
}
.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus,
.nav > li > a:hover,
.nav > li > a:focus,
a,
.dm-product .dm-product .dm-overlay a,
.team-box span,
a.readmore,
#countdown span,
.tt-suggestion.tt-is-under-cursor
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
.text-primary,
.product-content .price-new,
.btn-link,
.btn-link:hover,
.btn-link:focus,
.check li:before,
.required,
.sitemap li:before,
.jetmenu > li:hover a .indicator,
a.textLogo > span,
.box i,
.stat-count,
.dm-pricing-table .dm-pricing-header h5,
.flex-caption h2,
.jetmenu li > .megamenu h5,
.tp-caption.large_bold_grey span,
.jetmenu li > .megamenu a:hover {
  color: #472BDE;
}
#preloader {
  background-color: #472BDE; 
}
#countdown .stat, #maintenance .copyright-wrapper, .topbar {
  border-top-color: #472BDE;
}

.jetmenu > li > .megamenu,
.jetmenu ul.dropdown,
.jetmenu > li:hover > a,
.jetmenu > li.active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus {
  border-bottom-color: #472BDE;
}

.top-menu li a {
color: #777;
}

.sb-search-input {
  background: #F5F5F5;
  border: medium none;
  color: #777;
  font-family: inherit;
  font-size: 11px;
  height: 30px;
  margin: 100;
  outline: medium none;
  padding: 0 0 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 10;
}

.sb-search-input::-webkit-input-placeholder {
  color: #777;
}

.sb-search-input:-moz-placeholder {
  color: #777;
}

.sb-search-input::-moz-placeholder {
  color: #777;
}

.sb-search-777:-ms-input-placeholder {
  color: #efb480;
}
.container .book-new{
  float: none;
  margin: 0 auto;
}
.container .single-title{
  margin-top: 50px;
}
.container .single-title .form-group{
  height: 50px;
}
.container .single-title .form-group .col-sm-6{
  float: none;
  margin: auto;
}
.table-condensed tr td.day:hover, .table-condensed tr th.dow:hover, .table-condensed tr th.prev:hover,
 .table-condensed tr th.next:hover, .table-condensed tr th.datepicker-switch:hover, .table-condensed tr span.month:hover, .table-condensed tr th.today:hover{
    background-color: #472BDE !important;
    cursor: pointer;
    color: #FFFFFF;
}
.table-condensed tr th.prev{
  text-align: right;
}
.table-condensed tr th.datepicker-switch, .table-condensed tr th.today{
  text-align: center;
}
.table-striped thead tr th{
	text-align: center;
}
.table-striped tbody tr td > a.btn-primary, .table-striped tbody tr td > a.btn-danger{
	padding: 6px 9px;
	text-decoration: none;
	border-radius: 20px;
}
#score-form{
	height: 215px;
}
#fd-txt{
	height: auto;
}
.btn-r{
	float: right;
}
.star-bar{
    background: url("/assets/stars.png") no-repeat scroll 0 0 / 100px 85px rgba(0, 0, 0, 0);
    height: 18px;
    width: 100px;
    margin: 0 auto;
}
.star-black{
    background: url("/assets/stars.png") no-repeat scroll 0 -22px / 100px 85px rgba(0, 0, 0, 0);
    height: 18px;
    
}
.input-line{
    display: table-cell;
    width: 4px;
}
.btn-search{
  margin-top: 26px;
}