<section class="colon14">

        <div class="singleheader">
            <div class="container">
            	<div class="col-lg-6 col-sm-6 col-md-6">
                	<div class="single-title">
                		<h3>About Us</h3>
                        <h4>Who we are and what we love doing</h4>
                    </div>
                </div>
            	<div class="col-lg-6 col-sm-6 col-md-6">
                	<div class="breadcrumb-container">
                        <ul class="breadcrumb">
                            <li class="active">Our Story and Our Mission</li>
                        </ul>
                    </div>
                </div>
            </div>  
            <div class="shadow"></div>
        </div>
        
        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
        
            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-left in" data-effect="slide-left" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
        		        
                <%= image_tag "office.jpg" %>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    
        			<p style="font-size: 1.5em; line-height: 1.7em; color: #B54321;">GenieLets's mission is to provide the quickest and easiest way for tenants to pay their rent and for landlords to receive it direct through their Android or IOS devices. </p>

                    <h2 >
                    <span >Our Focus</span>
                    </h2>
                    
    				<p style="font-size: 1em;">GenieLets's main focus and objective is to continually provide fresh up-to-date technological advancements within mobile applications that correlate highly with todays very busy lifestyles. GenieLets therefore acknowledges the interconnectedness with our mobile technologies to our everyday lives and wishes to make those very time consuming tasks, less time consuming for us, so things like paying your rent can be successfully achieved just by clicking one button on your Android or IOS devices</p>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 effect-slide-right in" data-effect="slide-right" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
        		<h2 >
					<span>Our Mission</span>
				</h2>
					<p style="font-size: 1em; ">Our sheer existence is to bring modern mobile technologies to help ease the pressures from real issues and make life that little bit easier for our end users. Thus GenieLets's, the pay your rent mobile app does exactly what it says on the tin, on a universal platform.Tenants can pay their rent using their Android device or iPhones coupled with landlords receiving their payments in the same way. Life couldn't be simplier.</p>
                </div>

                <h2 >
                    <span>Other Aims</span>
                </h2>
                    <p style="font-size: 1em;">Our mission statement is not only to provide great mobile technologies that coexist with todays busy world, but GenieLets also wants to provide real support to those who are experiencing poverty in third world countries.we want to set up water pumps in poor villages in India for example, so people can have clean water near to where they live. Furthermore we will be supporting Macmillan cancer research and the MS society in our genielets journey. </p>
                </div>
                
                <div class="clearfix"></div>
            
				<hr>
                
                
            
            </div><!-- end content -->
        </div><!-- end container -->
	
    <!-- END CONTENT -->
    
	</section>