<section class="colon14">

        <div class="singleheader">
            <div class="container">
            	<div class="col-lg-6 col-sm-6 col-md-6">
                	<div class="single-title">
                		<h3>Contact Us</h3>
                        <h4>Find all the ways you can reach us</h4>
                    </div>
                </div>
            	<div class="col-lg-6 col-sm-6 col-md-6">
                	<div class="breadcrumb-container">
                        <ul class="breadcrumb">
                           
                            <li class="active">We would love to hear from you!</li>
                        </ul>
                    </div>
                </div>
            </div>  
            <div class="shadow"></div>
        </div>
        
        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
        
            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">
				<iframe style="height:300px" class="google-map" src="http://maps.google.com/?ie=UTF8&amp;ll=40.748151,-73.985131&amp;spn=0.012355,0.021007&amp;t=m&amp;z=16&amp;output=embed"></iframe>
                
                <div class="divider"></div>
                
                <h3>
                Contact Details 
                <small> Send Us an Email!</small>
                </h3>
                
                <hr>
                
                <div class="col-lg-5 col-md-5 col-sm-5">
                <form id="#" action="#">
                        <input type="text" class="form-control" placeholder="Name">
                        <br>
                        <input type="text" class="form-control" placeholder="Last Name">
						<br>
                        <input type="text" class="form-control" placeholder="Your Email">
                        <br>
                        <input type="text" class="form-control" placeholder="Your Phone">
                        <br>
						<textarea class="form-control" placeholder="Your Email" rows="5"></textarea>
						<br>
						<button class="btn btn-primary"> Send Message</button>
                    </form>
                        <br>
                </div>
                
                <div class="col-lg-7 col-md-7 col-sm-7">
                <p> If you have any question, please consult our <a href="/help-centre">Help Centre</a>, its possible that it is already answered there.</p>

                <p> If you want to talk to us, please use the contact points below.</p>

					<ul class="contact-details" style="padding-left:10px;">
                      	<li><strong>Address:</strong> London, England UK</li>
						<li><strong>Phone:</strong> +0 554 777 78 78</li>
						<li><strong>Email:</strong> hello@genielets.com</li>
						<li><strong>View large map:</strong> <a href="#" title="View large map on Google">Google Map</a></li>  
					</ul>

                    <ul class="pull-left dm-social">
                       
                    </ul><!-- End Social --> 
                </div>
               
                
				<div class="clearfix"></div>
                
            
            </div><!-- end content -->
        </div><!-- end container -->
	
    <!-- END CONTENT -->
    
	</section>