<div class="singleheader">
            <div class="container">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="single-title">
                        <h3>Download</h3>
                        <h4>Get Our IOS and Android Apps for your Mobile Devices</h4>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="breadcrumb-container">
                        <ul class="breadcrumb">
                            <li class="active">Mobile App Download</li>
                        </ul>
                    </div>
                </div>
            </div>  
            <div class="shadow"></div>
        </div>
<section class="colon9">

		<div class="container bgmaker">
        
        	<div class="general" style="padding-top: 0px;">
                <div class="big-message text-center">
                    <h2>Coming <span>Soon</span>!</h2>
                    <p> Do you have an iPhone or an Android device? In a few days we will be releasing our mobile apps to help you easily manage your GenieLets transactions using your phone!!!</p>
                </div><!-- end big message -->
            </div>
                        
			<div class="general" style="padding-top: 0px;">
               
    
                <div class="col-lg-6 col-md-6 col-sm-6 effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="general-widget" style="text-align: center;">
                        <%= image_tag "apple.png"%>
                        <h2 class="general-title">
                        <span>IOS App</span>
                        </h2>
                        <p>Download this if you have an Apple device. Whether an iPhone or an iPad, our app is optimized for IOS 7 for the best experience.</p>
                        <a class="btn btn-info" href="#">Get in Apple App Store</a>
                        
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 effect-slide-right in" data-effect="slide-right" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="general-widget" style="text-align: center;">
                        <%= image_tag "android.png"%>
                        <h2 class="general-title">
                        <span>Android App</span>
                        </h2>
                        <p>Get this app if you have an Android Phone!, This app is optimized for devices with Android Jelly Bean and above.</p>
                        <a class="btn btn-info" href="#">Get in Google Play</a>
                    </div>
                </div>
            </div><!-- general-->
            
            <div class="clearfix"></div>
            <div class="divider"></div>
           

				
        </div><!-- container -->
        
        	
            
        <div class="divider"></div>
        
    </section>