<% @page_title = "Features" %>
        
<section class="colon14">

    <div class="singleheader">
        <div class="container">
          <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="single-title">
                <h3>Services Page Style</h3>
                    <h4>You can add anythings here</h4>
                </div>
            </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Services Page Style</li>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="shadow"></div>
    </div>
    
    <!-- START CONTENT AND SIDEBAR -->
    <div class="container general">
    
        <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

        <div class="message text-center">
        <h2>Let's see all our services styles below.</h2>
        <p>
        Lorem ipsum
        <a href="#">dolor sit amet</a>
        , consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
        </p>
        </div>
        
        <h2 class="general-title">
        <span>Services Style #3</span>
        </h2>
        <div class="divider"></div>
          <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="icn-main-container">
                        <p class="center"><span class="icn-container"><i class="icon-laptop"></i></span></p>
                    </div> 
                    <h3>Web Design</h3>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="icn-main-container">
                        <p class="center"><span class="icn-container active"><i class="icon-cogs"></i></span></p>
                    </div> 
                    <h3>Web Development</h3>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="icn-main-container">
                        <p class="center"><span class="icn-container"><i class="icon-group"></i></span></p>
                    </div> 
                    <h3>Community Blogs</h3>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="icn-main-container">
                        <p class="center"><span class="icn-container"><i class="icon-euro"></i></span></p>
                    </div> 
                    <h3>Make Money</h3>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
            
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="clearfix"></div>
        
        <h2 class="general-title">
        <span>Services Style #2</span>
        </h2>

      <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="service-box">
                <header>
                    <h3>Responsive Design</h3>
                </header>
                <i class="icon-laptop"  data-effect="helix"></i>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="service-box">
                <header>
                    <h3>HTML5 & CSS3</h3>
                </header>
                <i class="icon-html5 active" data-effect="helix"></i>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="service-box">
                <header>
                    <h3>Easy Setup</h3>
                </header>
                <i class="icon-cogs" data-effect="helix"></i>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="service-box">
                <header>
                    <h3>Documentation</h3>
                </header>
                <i class="icon-folder-open-alt" data-effect="helix"></i>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
        
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="clearfix"></div>

        <h2 class="general-title">
        <span>Services Style #3</span>
        </h2>

    <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-html5 active"></i>
                <header>
                    <h3>Coded with HTML5 & CSS3</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-google-plus"></i>
                <header>
                    <h3>Social Media Friendly</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-laptop"></i>
                <header>
                    <h3>Responsive Layout Design</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="box">
                <i class="icon-cogs"></i>
                <header>
                    <h3>Easy Setup for Beginners</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
                <a class="readmore" href="#">read more</a>
            </div>
        </div>
                    
        <div class="clearfix"></div>
        
  <hr>

      <div class="col-lg-7 col-md-7 col-sm-12">
          <div class="col-lg-5 col-md-5 col-sm-12">
          <h2 class="general-title">
      <span>Join us</span>
    </h2>
               <form action="#" id="subscribe">
                    <input type="text" class="form-control" placeholder="Name">
                    <br>
                    <input type="text" class="form-control" placeholder="Last Name">
                    <br>
                    <input type="text" class="form-control" placeholder="Email Address">
                    <br>
                    <a class="btn btn-primary">Subscribe</a> <a class="btn btn-primary">Unsubcribe</a>
                </form>
            </div>

          <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="clearfix"></div>
          <h2 class="general-title">
      <span>Why Choose Us?</span>
    </h2>
      <ul class="check">
        <li><a href="#">15+ amazing homepage style (check features menu)</a></li>
        <li><a href="#">Compatible any eCommerce solutions</a></li>
        <li><a href="#">Limitless color combinations (build your own style)</a></li>
        <li><a href="#">Limitless page templates (15+ custom pages)</a></li>
        <li><a href="#">100% responsive layout design</a></li>
        <li><a href="#">Awesome slideshows for your contents</a></li>
        <li><a href="#">500+ Google fonts included (use very easy)</a></li>
        <li><a href="#">700+ custom font icons included</a></li>
      </ul>
            </div>
             
      </div>
        
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="cleafix"></div>
          <h2 class="general-title">
      <span>Top Four Reasons to Buy This Template</span>
    </h2>
            <div class="accordion" id="accordion2">
              <div class="accordion-group" data-effect="slide-bottom">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <em class="icon-minus icon-fixed-width"></em>100% Responsive Layout Design
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-group" data-effect="slide-bottom">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <em class="icon-plus icon-fixed-width"></em>100+ Valid HTML5 Templates
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute...</p>
                  </div>
                </div>
              </div>
              <div class="accordion-group" data-effect="slide-bottom">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    <em class="icon-plus icon-fixed-width"></em>One Template Million Skins
                  </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-group" data-effect="slide-bottom">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    <em class="icon-plus icon-fixed-width"></em>Unlimited Color Combinations
                  </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                  </div>
                </div>
              </div>
            </div><!-- end accordion -->
      </div>

        
        </div><!-- end content -->
    </div><!-- end container -->

<!-- END CONTENT -->

</section><!-- end colon1 -->
