<section class="colon14">

        <div class="singleheader">
            <div class="container">
            	<div class="col-lg-6 col-sm-6 col-md-6">
                	<div class="single-title">
                		<h3>Help Centre</h3>
                        <h4>Frequently Asked Questions</h4>
                    </div>
                </div>
            	<div class="col-lg-6 col-sm-6 col-md-6">
                	<div class="breadcrumb-container">
                        <ul class="breadcrumb">
                            <li class="active">Get your questions answered here!</li>
                        </ul>
                    </div>
                </div>
            </div>  
            <div class="shadow"></div>
        </div>
        
        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
        
            <div id="content" class="single col-lg-8 col-md-8 col-sm-12">
                <p>Our help centre provides a comprehensive list of frequently asked questions and their corresponding answers, to provide the most effective solutions and answers to any of your concerns/issues you may be experiencing with the GenieLets app.</p>
                <p>If you can't find the answer for your question, please feel free to <a href="/contact-us">Contact Us</a></p>
            
            <h2 class="general-title">
            <span>General Questions and Answers</span>
            </h2>

			<div class="faqs" style="padding:10px 10px 10px 0;">
                <div class="accordion" id="accordion2">
                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <em class="icon-fixed-width">1.</em> Who or what is GenieLets?
                      </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                      <div class="accordion-inner">
                      	<p>Please check out our <a href="/about">About Us</a> page.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <em class="icon-fixed-width">2.</em> How do I download the GenieLets app?
                      </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p>The GenieLets mobile apps are available in...</p>
                      	<p>Please check out our <a href="/download">Download</a> page.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <em class="icon-fixed-width">3.</em> How do I delete the GenieLets app?
                      </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                      <div class="accordion-inner">
                      	<p>... </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        <em class="icon-fixed-width">4.</em> How do I add a landlord or multiple landlords to GenieLets the pay your rent mobile app?
                      </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                      <div class="accordion-inner">
                      	<p> ... </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                        <em class="icon-fixed-width">5.</em> How does GenieLets, the pay your rent mobile app actually work?
                      </a>
                    </div>
                    <div id="collapseFive" class="accordion-body collapse">
                      <div class="accordion-inner">
                      	<p> ... </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                        <em class="icon-fixed-width">6.</em> How do I know ive paid my rent and that my landlord has recieved it?
                      </a>
                    </div>
                    <div id="collapseSix" class="accordion-body collapse">
                      <div class="accordion-inner">
                      	<p> ... </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                        <em class="icon-fixed-width">7.</em> What if ive paid my rent using a different method. How does GenieLets figure that out?
                      </a>
                    </div>
                    <div id="collapseSeven" class="accordion-body collapse">
                      <div class="accordion-inner">
                      	<p>... </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                        <em class="icon-fixed-width">8.</em> How do I add a tenant or multiple tenants too the app?
                      </a>
                    </div>
                    <div id="collapseEight" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p> ... </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
                        <em class="icon-fixed-width">9.</em> How do I know if my tenants have paid me or not?
                      </a>
                    </div>
                    <div id="collapseNine" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p> ... </p>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-group effect-slide-bottom in" data-effect="slide-bottom" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
                        <em class="icon-fixed-width">10.</em> If my GenieLets app is not working or crashes what shall I do?
                      </a>
                    </div>
                    <div id="collapseTen" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p> ... </p>
                      </div>
                    </div>
                  </div>




                </div><!-- end accordion -->
            </div>
            
            </div><!-- end content -->
            
            
            <div id="sidebar" class="col-lg-4 col-md-4 col-sm-12">
				
                <div class="widget">
                    <div class="search">
                        <input type="text" size="16" placeholder="Search…" name="s" id="s">
                    </div>
                </div>
                                
            	<div class="widget">
                    <h2 class="general-title">
                        <span>Categories</span>
                    </h2>
                    <ul class="categories">
                    	<li><a href="#">Payments</a></li>
                    	<li><a href="#">Mobile App</a></li>
                    	<li><a href="#">Web App</a></li>
                    	<li><a href="#">Tenants</a></li>
                    	<li><a href="#">Landlords</a></li>
                    	<li><a href="#">Dashboard</a></li>
                    </ul>
              </div>

				     	<div class="widget">
                    <h2 class="general-title">
                        <span>Tags</span>
                    </h2>
                    
          					<div class="tagcloud">
          						<a href="#" class="" title="12 topics">Signups</a>
          						<a href="#" class="" title="2 topics">Paypal</a>
          						<a href="#" class="" title="21 topics">Payments</a>
          						<a href="#" class="" title="5 topics">Email</a>
          						<a href="#" class="" title="62 topics">Notifications</a>
          						<a href="#" class="" title="12 topics">Reports</a>
          						<a href="#" class="" title="88 topics">Tenants</a>
          						<a href="#" class="" title="15 topics">Landlords</a>
          						<a href="#" class="" title="31 topics">Late Payments</a>
          						<a href="#" class="" title="16 topics">Due</a>
          						<a href="#" class="" title="32 topics">Multiple Payments</a>
          						<a href="#" class="" title="12 topics">Cancellation</a>
          						<a href="#" class="" title="44 topics">Bounced Cheques</a>
          					</div>
                </div>
                
            </div><!-- end sidebar -->
            
        </div><!-- end container -->
	
    <!-- END CONTENT AND SIDEBAR -->
    
	</section>