<% @page_title = "Home" %>
<section class="colon1">
    <!--
            #################################
              - THEMEPUNCH BANNER -
            #################################
            -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="boxslide" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="/assets/public/demos/03_slider.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption medium_bg_red skewfromright customout" data-x="right" data-hoffset="-20" data-y="90" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="on" style="z-index: 7">Total 15+ Custom Homepage Examples</div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1400" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">Landing Page Style (Ideal for Applications)</div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="180" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1600" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">Shop Style (Ideal for Online Marketers)</div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="220" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1800" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">BuddyPress Style (Build Your Community Sites)</div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="260" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">Portfolio Style (Showcase Your Awesome Works)</div>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="300" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2200" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">Blog Style (Write About Your Self!)</div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="340" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2400" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">or Build Your Own Style!</div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin customout" data-x="left" data-hoffset="60" data-y="bottom" data-voffset="-100" data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="600" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" style="z-index: 3">
                        <img src="/assets/public/demos/07_book.png" alt="">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin customout" data-x="left" data-hoffset="205" data-y="bottom" data-voffset="-30" data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" style="z-index: 3">
                        <img src="/assets/public/demos/06_book.png" alt="">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin customout" data-x="left" data-hoffset="355" data-y="bottom" data-voffset="50" data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="900" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" style="z-index: 3">
                        <img src="/assets/public/demos/05_book.png" alt="">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="/assets/public/demos/01_slider.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="left" data-hoffset="40" data-y="100" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="800" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">HTML5 & CSS3</div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="left" data-hoffset="40" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">RESPONSIVE DESIGN</div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="left" data-hoffset="40" data-y="180" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1200" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">100+ VALID PAGE TEMPLATES</div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="left" data-hoffset="40" data-y="220" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1400" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">9 AWESOME SLIDER PLUGINS</div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="left" data-hoffset="40" data-y="260" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1600" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">15+ HOME EXAMPLES</div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="left" data-hoffset="40" data-y="300" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1800" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">15+ CUSTOM PAGE STYLES</div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="left" data-hoffset="40" data-y="340" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">LIMITLESS COLOR COMBINATIONS</div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="100" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2200" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">WOOCOMMERCE SUPPORTED</div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2400" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">BUDDYPRESS SUPPORTED</div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="180" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2600" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">BBPRESS SUPPORTED</div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="220" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2800" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">CUSTOM BLOG TEMPLATES</div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="260" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="3000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">SEO OPTIMIZED</div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="300" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="3200" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">EASY TO USE FOR BEGINNERS</div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="right" data-hoffset="-20" data-y="340" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="3400" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">24/7 SUPPORT VIA EMAIL</div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption skewfromrightshort customout" data-x="225" data-y="120" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 9">
                        <img src="/assets/public/demos/02_book.png" alt="">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="boxslide" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <!-- LAYERS -->
                    <img src="/assets/public/demos/02_slider.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lightgrey_divider skewfromrightshort customout" data-x="85" data-y="224" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1200" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 2"></div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption large_bold_grey skewfromrightshort customout" data-x="78" data-y="150" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">
                        <span>{NEVER}</span>
                        MIND
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption small_thin_grey customin customout" data-x="80" data-y="240" data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 8">
                        The {NEVER}MIND a multi purpose HTML5
                        <br/>website template for all your needs!
                    </div>

                    <!-- LAYER NR. 7 -->
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_asbestos skewfromleft customout" data-x="80" data-y="320" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="800" data-start="4500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="on" style="z-index: 6">100% Responsive Layout Design & Mobile Optimized!</div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption skewfromrightshort customout" data-x="520" data-y="170" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2500" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 9">
                        <img src="/assets/public/demos/01_book.png" alt="">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption skewfromrightshort customout" data-x="480" data-y="120" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="3000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 9">
                        <img src="/assets/public/demos/02_book.png" alt="">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption skewfromrightshort customout" data-x="980" data-y="240" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="3500" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 9">
                        <img src="/assets/public/demos/03_book.png" alt="">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption skewfromrightshort customout" data-x="436" data-y="190" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="4000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 9">
                        <img src="/assets/public/demos/04_book.png" alt="">
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</section>

<section class="colon10">
    <div class="container">
        <div class="divider"></div>
        <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-left">
            <a href="#">
                <img width="600" src="/assets/public/demos/10_book.png" alt="">
            </a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-right">
            <div class="about-widget">
                <header>
                    <h3>
                        <i class="icon-android"></i>
                        About Our Company
                    </h3>
                </header>
                <p>
                    Suscipit illo voluptas aperiam repudiandae impedit quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem. Suscipit illo voluptas aperiam repudiandae impedit quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
                </p>

                <a class="btn btn-primary" href="#">read more</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</section>

<section class="colon4">
    <div class="container">
        <div class="message text-center">
            <h2>
                {NEVER}MIND all in one responsive
                <span>HTML5</span>
                website template
            </h2>
            <p>
                Lorem ipsum
                <a href="#">dolor sit amet</a>
                , consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
            </p>
        </div>
    </div>
</section>

<section class="colon3">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="general-title">
                <span>Recent Works</span>
            </h2>
            <div class="recent-posts">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="post-container">
                        <div class="image-container">
                            <a href="single-portfolio-1.html" title="">
                                <img src="/assets/public/demos/01_demo.jpg" alt="">
                                <span class="zoom"></span>
                            </a>
                        </div>
                        <a href="single-portfolio-1.html" title="">
                            <h3>Yellow Frame</h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
                        </p>
                        <a title="View all portfolio items in this category" href="single-portfolio-1.html">
                            <i class="icon-folder-open-alt"></i>  <b>Illustrator</b>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="post-container">
                        <div class="image-container">
                            <a href="single-portfolio-1.html" title="">
                                <img src="/assets/public/demos/02_demo.jpg" alt="">
                                <span class="zoom"></span>
                            </a>
                        </div>
                        <a href="single-portfolio-1.html" title="">
                            <h3>Just In Case</h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
                        </p>
                        <a title="View all portfolio items in this category" href="single-portfolio-1.html">
                            <i class="icon-folder-open-alt"></i>  <b>Photoshop</b>
                        </a>
                    </div>
                </div>
            </div>
            <!-- recent posts -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="clearfix"></div>
            <h2 class="general-title">
                <span>Recent Posts</span>
            </h2>
            <div class="recent-posts">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="post-container">
                        <div class="image-container">
                            <a href="single-with-sidebar.html" title="">
                                <img src="/assets/public/demos/08_demo.jpg" alt="">
                                <span class="zoom"></span>
                            </a>
                        </div>
                        <a href="single-with-sidebar.html" title="">
                            <h3>Best and M and M’s</h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
                        </p>
                        <a class="readmore" href="single-with-sidebar.html">read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="post-container">
                        <div class="image-container">
                            <a href="single-with-sidebar.html" title="">
                                <img src="/assets/public/demos/07_demo.jpg" alt="">
                                <span class="zoom"></span>
                            </a>
                        </div>
                        <a href="single-with-sidebar.html" title="">
                            <h3>Illustrator and Adobe PSD</h3>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
                        </p>
                        <a class="readmore" href="single-with-sidebar.html">read more</a>
                    </div>
                </div>
            </div>
            <!-- recent posts -->
        </div>
    </div>
</section>

<section class="colon4">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="stat">
                <span class="stat-count">325</span>
                <p class="stat-detail">Ordered Coffe's</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="stat">
                <span class="stat-count">245</span>
                <p class="stat-detail">Happy Customers</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="stat">
                <span class="stat-count">245</span>
                <p class="stat-detail">Completed Projetcs</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            <div class="stat">
                <span class="stat-count">425</span>
                <p class="stat-detail">Questions Answered</p>
            </div>
        </div>
    </div>
</section>

<section class="colon3">
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h2 class="general-title">
                <span>Our Services</span>
            </h2>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-left">
                <div class="box">
                    <i class="icon-html5 active"></i>
                    <header>
                        <h3>HTML5 & CSS3</h3>
                    </header>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-left">
                <div class="box">
                    <i class="icon-laptop"></i>
                    <header>
                        <h3>Responsive</h3>
                    </header>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-left">
                <div class="box">
                    <i class="icon-cogs"></i>
                    <header>
                        <h3>Easy Setup</h3>
                    </header>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-left">
                <div class="box">
                    <i class="icon-comments-alt"></i>
                    <header>
                        <h3>24/7 Support</h3>
                    </header>
                    <a class="readmore" href="#">read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="clearfix"></div>
            <h2 class="general-title">
                <span>Top Four Reasons to Buy This Template</span>
            </h2>
            <div class="accordion" id="accordion2">
                <div class="accordion-group" data-effect="slide-left">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <em class="icon-plus icon-fixed-width"></em>
                            100% Responsive Layout Design
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
                <div class="accordion-group" data-effect="slide-left">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <em class="icon-plus icon-fixed-width"></em>
                            100+ Valid HTML5 Templates
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
                <div class="accordion-group" data-effect="slide-left">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            <em class="icon-plus icon-fixed-width"></em>
                            One Template Million Skins
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
                <div class="accordion-group" data-effect="slide-left">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            <em class="icon-plus icon-fixed-width"></em>
                            Unlimited Color Combinations
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end accordion -->
        </div>
    </div>
</section>

<section class="colon6">
    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="message">
                <h2>{NEVER}MIND responsive HTML5 website template</h2>
                <p>
                    Suscipit illo voluptas aperiam repudiandae impedit quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <ul id="sub-ul" class="pull-right">
                <li>
                    <a class="btn btn-transparent" href="#">
                        <i class="icon-gear"></i>
                        View More Features
                    </a>
                </li>
                <li>
                    <a class="btn btn-transparent" href="#">
                Buy Now
                <i class="icon-long-arrow-right"></i>
              </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="colon5">
    <div class="container">
        <div class="col-lg-2 col-md-2 col-sm-2" data-effect="pop">
            <div class="client">
                <a data-toggle="tooltip" data-placement="top" title="The Nevermind HTML5 template is an awesome!" href="#">
                    <img src="/assets/public/demos/01_client.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" data-effect="pop">
            <div class="client">
                <a data-toggle="tooltip" data-placement="top" title="Thanks for all your helps! Always great jobs!" href="#">
                    <img src="/assets/public/demos/02_client.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" data-effect="pop">
            <div class="client">
                <a data-toggle="tooltip" data-placement="top" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the..." href="#">
                    <img src="/assets/public/demos/03_client.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" data-effect="pop">
            <div class="client">
                <a data-toggle="tooltip" data-placement="top" title="Lorem Ipsum has been the industry's standard dummy text ever since the..." href="#">
                    <img src="/assets/public/demos/04_client.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" data-effect="pop">
            <div class="client">
                <a data-toggle="tooltip" data-placement="top" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the..." href="#">
                    <img src="/assets/public/demos/05_client.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" data-effect="pop">
            <div class="client">
                <a data-toggle="tooltip" data-placement="top" title="Lorem Ipsum has been the industry's standard dummy text ever since the..." href="#">
                    <img src="/assets/public/demos/06_client.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
