<section class="colon2">
    	<div class="container">
        	<div class="message text-center">
                <h2>The quickest and easiest way<br /> for <span>tenants</span> to pay their rent and for <span>landlords</span> to receive it. </h2>
                <p>GenieLets have a lot of <a href="/features">features</a> to make that possible,<br /> and if you have an IOS or Android mobile device, you can <a href="/download">download</a> our app.<br /> Our <a href="/help-centre">Help Centre</a> provides answers to your questions regarding our service!</p>
            </div>
        	<div class="col-lg-4 col-md-4 col-sm-4" data-effect="slide-bottom">
                <div class="box">
                     <header>
                            <%= image_tag "landlord.png"%>                   
                    
                        <h3>Beneficial for Landlords</h3>
                    </header>
                    <p>Using our service will make it easier and super efficient for you to manage your tenants, contracts and their payments. You can easily see in your dashboards all the dues and payment summaries made by your tenants. Knowing who paid and who haven't is just a click away.</p>
                    <a class="readmore" href="/users/sign_up?type=landlord">Sign Up Now as a Landlord</a>
                </div>
            </div>
        	<div class="col-lg-4 col-md-4 col-sm-4" data-effect="slide-bottom">
				<a href="#">
                	 <%= image_tag "01_imac.png" %>
                </a>
            </div>
        	<div class="col-lg-4 col-md-4 col-sm-4" data-effect="slide-bottom">
                <div class="box">
                    <header>
                                            <%= image_tag "tenants.png"%>

                        <h3>Making Happy Tenants</h3>
                    </header>
                    <p>Make rent payments in the comfort of your couch, using our website or our mobile apps. Our app will notify you when a payment is due, and paying it is as easy as touching a button! no more accidental late payments anymore, your landlord will love you!</p>
                    <a class="readmore" href="/users/sign_up?type=tenant">Sign Up Now as a Tenant</a>
                </div>
            </div>
		</div>
    </section>

    <section class="colon4">
    	<div class="container">
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">1M+</span>
                    <p class="stat-detail">Rent's Paid</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">523</span>
                    <p class="stat-detail">Satisfied Landlords</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">798</span>
                    <p class="stat-detail">Happy Tenants</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
            	<div class="stat">
                    <span class="stat-count">1320</span>
                    <p class="stat-detail">Contracts Served</p>
                </div>
            </div>
        </div>
    </section>