<% @page_title = "Testimonials" %>
    
<section class="colon14">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>Testimonials Page Style</h3>
                    <h4>You can add anythings here</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Testimonials Page Style</li>
                    </ul>
                </div>
            </div>
        </div>  
        <div class="shadow"></div>
    </div>
    
    <!-- START CONTENT AND SIDEBAR -->
    <div class="container general">
    
        <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

        <div class="message text-center">
            <h2>What they say about {NEVER]MIND template</h2>
            <p> Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae impedit quidem.</p>
        </div>
            
            <hr>
            
            <div class="divider"></div>
            
           <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/01_team.png" alt=""></span></p> 
                    </div> 
                    <h3>John DEO</h3>
                    <span>Web Designer</span>
                    <p>Sonsectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <span>google.com</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/02_team.png" alt=""></span></p>
                    </div> 
                    <h3>Andrew JOHNSEN</h3>
                    <span>Social Manager</span>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                    <span>facebook.com</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/03_team.png" alt=""></span></p>
                    </div> 
                    <h3>Michael JACKNESS</h3>
                    <span>Web Designer</span>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <span>envato.com</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/04_team.png" alt=""></span></p>
                    </div> 
                    <h3>Bob DAYLON</h3>
                    <span>Front-end Developer</span>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <span>freelancer.com</span>
                </div>
            </div>

            <div class="clearfix"></div>
            
           <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/05_team.png" alt=""></span></p> 
                    </div> 
                    <h3>John DEO</h3>
                    <span>Graphic Designer</span>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <span>designingmedia.com</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/06_team.png" alt=""></span></p>
                    </div> 
                    <h3>Andrew JOHNSEN</h3>
                    <span>Affiliate Manager</span>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elite.</p>
                    <span>yahoo.com</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/07_team.png" alt=""></span></p>
                    </div> 
                    <h3>Michael JACKNESS</h3>
                    <span>Web Designer</span>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <span>weblees.com</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6" data-effect="slide-bottom">
                <div class="team-box">
                    <div class="team-main-container">
                        <p class="center"><span class="team-container"><img src="/assets/public/demos/08_team.png" alt=""></span></p>
                    </div> 
                    <h3>Bob DAYLON</h3>
                    <span>Social Manager</span>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit illo voluptas aperiam repudiandae.</p>
                    <span>applemockups.com</span>
            </div>
              
        </div><!-- end content -->
    </div><!-- end container -->

<!-- END CONTENT -->

</section><!-- end colon1 -->
