.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        Create Drives
      .panel-body
        = simple_nested_form_for [:users, @drive], url: users_drive_path(@drive), html: { class: 'form-horizontal' }, role: "form" do |f|
          = render partial: 'drive_form', locals: { f: f }
