.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        .panel-body
          = simple_form_for [:users, @drive], class: 'form-horizontal', role: "form" do |f|
            = render partial: 'drive_form', locals: { f: f }
