- @page_title = 'Successfully Feedback'
%section.colon14
  .singleheader
    .container
      .col-lg-12.col-sm-12.col-md-12
        .single-title
          %h3 Booking Drive
          %h4 You can book your drive
      .col-lg-6.col-sm-6.col-md-6
        .breadcrumb-container
          %ul.breadcrumb
            %li
              %a{href: root_path } Home
            %li
              %a{href: "#"} Pages
            %li.active About us Book Style
    .shadow
%section.colon14
  .book-content
    .container
      .col-lg-6.col-sm-6.col-md-6.book-new
        .single-title
          .form-group
            .col-sm-12
              %h2 Thank you for your feed back 

    .shadow